---
---

@import "{{ site.theme }}";

body {
  /*background-color: #2d3561;*/

  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat
    0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

h1 {
  color: #c05c7e;
}

img {
  border-radius: 50%;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
